{% load static %}
<nav class="navbar navbar-expand header">
        <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" width="250px" height="60px">
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item header-block films">
                    <a class="nav-link header-link">Films</a>
                    <div class="genres" id="films">
                        <div class="row">
                            <div class="col-3 object" id="films_action">Action</div>
                            <div class="col-3 object" id="films_adventure">Adventure</div>
                            <div class="col-3 object" id="films_animation">Animation</div>
                            <div class="col-3 object" id="films_biography">Biography</div>
                            <div class="col-3 object" id="films_comedy">Comedy</div>
                            <div class="col-3 object" id="films_crime">Crime</div>
                            <div class="col-3 object" id="films_documentary">Documentary</div>
                            <div class="col-3 object" id="films_drama">Drama</div>
                            <div class="col-3 object" id="films_family">Family</div>
                            <div class="col-3 object" id="films_fantasy">Fantasy</div>
                            <div class="col-3 object" id="films_history">History</div>
                            <div class="col-3 object" id="films_horror">Horror</div>
                            <div class="col-3 object" id="films_kids">Kids</div>
                            <div class="col-3 object" id="films_music">Music</div>
                            <div class="col-3 object" id="films_mystery">Mystery</div>
                            <div class="col-3 object" id="films_reality">Reality</div>
                            <div class="col-3 object" id="films_romance">Romance</div>
                            <div class="col-3 object" id="films_science_fiction">Science fiction</div>
                            <div class="col-3 object" id="films_thriller">Thriller</div>
                            <div class="col-3 object" id="films_tv_movie">TV Movie</div>
                            <div class="col-3 object" id="films_war">War</div>
                        </div>
                    </div>
                </li>
                <li class="nav-item header-block serials">
                    <a class="nav-link header-link">Serials</a>
                    <div class="genres" id="serials">
                        <div class="row">
                            <div class="col-3 object" id="serials_action">Action</div>
                            <div class="col-3 object" id="serials_adventure">Adventure</div>
                            <div class="col-3 object" id="serials_animation">Animation</div>
                            <div class="col-3 object" id="serials_biography">Biography</div>
                            <div class="col-3 object" id="serials_comedy">Comedy</div>
                            <div class="col-3 object" id="serials_crime">Crime</div>
                            <div class="col-3 object" id="serials_documentary">Documentary</div>
                            <div class="col-3 object" id="serials_drama">Drama</div>
                            <div class="col-3 object" id="serials_family">Family</div>
                            <div class="col-3 object" id="serials_fantasy">Fantasy</div>
                            <div class="col-3 object" id="serials_history">History</div>
                            <div class="col-3 object" id="serials_horror">Horror</div>
                            <div class="col-3 object" id="serials_kids">Kids</div>
                            <div class="col-3 object" id="serials_music">Music</div>
                            <div class="col-3 object" id="serials_mystery">Mystery</div>
                            <div class="col-3 object" id="serials_reality">Reality</div>
                            <div class="col-3 object" id="serials_romance">Romance</div>
                            <div class="col-3 object" id="serials_science_fiction">Science fiction</div>
                            <div class="col-3 object" id="serials_thriller">Thriller</div>
                            <div class="col-3 object" id="serials_tv_movie">TV Movie</div>
                            <div class="col-3 object" id="serials_war">War</div>
                        </div>
                    </div>
                </li>
                <li class="nav-item header-block anime">
                    <a class="nav-link header-link">Anime</a>
                    <div class="genres" id="anime">
                        <div class="row">
                            <div class="col-3 object" id="anime_action">Action</div>
                            <div class="col-3 object" id="anime_adventure">Adventure</div>
                            <div class="col-3 object" id="anime_animation">Animation</div>
                            <div class="col-3 object" id="anime_biography">Biography</div>
                            <div class="col-3 object" id="anime_comedy">Comedy</div>
                            <div class="col-3 object" id="anime_crime">Crime</div>
                            <div class="col-3 object" id="anime_documentary">Documentary</div>
                            <div class="col-3 object" id="anime_drama">Drama</div>
                            <div class="col-3 object" id="anime_family">Family</div>
                            <div class="col-3 object" id="anime_fantasy">Fantasy</div>
                            <div class="col-3 object" id="anime_history">History</div>
                            <div class="col-3 object" id="anime_horror">Horror</div>
                            <div class="col-3 object" id="anime_kids">Kids</div>
                            <div class="col-3 object" id="anime_music">Music</div>
                            <div class="col-3 object" id="anime_mystery">Mystery</div>
                            <div class="col-3 object" id="anime_reality">Reality</div>
                            <div class="col-3 object" id="anime_romance">Romance</div>
                            <div class="col-3 object" id="anime_science_fiction">Science fiction</div>
                            <div class="col-3 object" id="anime_thriller">Thriller</div>
                            <div class="col-3 object" id="anime_tv_movie">TV Movie</div>
                            <div class="col-3 object" id="anime_war">War</div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <form class="search">
                        <label class="search">
                            <input type="search" placeholder="Search...">
                            <img src="{% static 'img/correct/search-vector.svg' %}" class="icon" width="30px"
                                 height="30px"
                                 title="Search">
                        </label>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'img/message.svg' %}" height="30px" width="30px">
                    </a>
                </li>
                <li class="nav-item account">
                    <a class="nav-link" href="#">
                        <img src="{% static 'img/correct/profile-vector.svg' %}" height="30px" width="30px">
                    </a>
                    <div class="account_menu">
                        <div class="row"><a href=#>Your profile</a></div>
                        <div class="row exit">
                            <div class="col-6"><a href=#>Sign out</a></div>
                            <div class="col"><img src="{% static 'img/correct/exit.svg' %}" height="17" width="18">
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>