<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>
    <input type="text">
    <br>
    <input type="text">
    <br>
    <input type="text">
    <br>
    <button>login</button>
    <br>
    <button>logout</button>
    <br>
    <button>create</button>

</body>
<script>

    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }
    document.querySelectorAll("button")[0].addEventListener("click",()=>{
        const email = document.querySelectorAll("input")[0].value;
        const password = document.querySelectorAll("input")[1].value;
        const username = document.querySelectorAll("input")[2].value;
        data = {email:email,password:password}

        $.ajax({
        type: "POST",
        url: "/api/v1/logIn",
        dataType:"json",
        contentType: 'application/json',

        data: JSON.stringify(data),
        credentials:'include',
        headers: { "X-CSRFToken": getCookie("csrftoken") },
        success:(response)=>{
            console.log(response);
        }


        });



    })
    document.querySelectorAll("button")[1].addEventListener("click",()=>{
        const login = document.querySelectorAll("input")[0].value;
        const password = document.querySelectorAll("input")[1].value;

        $.ajax({
        type: "POST",
        url: "/api/v1/logOut",
        dataType:"json",
        contentType: 'application/json',


        credentials:'include',
        headers: { "X-CSRFToken": getCookie("csrftoken") },
        success:(response)=>{
            console.log(response);
        }


        });



    })
    document.querySelectorAll("button")[2].addEventListener("click",()=>{
        const email = document.querySelectorAll("input")[0].value;
        const password = document.querySelectorAll("input")[1].value;
        const username = document.querySelectorAll("input")[2].value;
        data = {email:email,password:password,username:username}
        $.ajax({
        type: "POST",
        url: "/api/v1/signUp",
        dataType:"json",
        contentType: 'application/json',

        data: JSON.stringify(data),
        credentials:'include',
        headers: { "X-CSRFToken": getCookie("csrftoken") },
        success:(response)=>{
            console.log(response);
        }


        });



    })
</script>
</html>